<app-delete-popup [title]="deleteMenuData.title" (deleteRecord)="deleteMenuItem()"></app-delete-popup>
<h3 class="text-center mt-3"><img *ngIf="restaurant?.image" src="{{restaurant?.image}}" class="thumbnail-image me-3" alt="">{{restaurant?.name}}</h3>
<div class="d-flex justify-content-end align-items-center flex-wrap">
    <a routerLink="../restaurant-form" class="text-primary mx-3"><span *ngIf="restaurant; else add">Edit</span><ng-template #add>Add</ng-template></a>
</div>

<div class="card mt-3" *ngIf="restaurant">
    <p-table [value]="menu" [tableStyle]="{'min-width': '100%'}" [rowHover]="true"
    rowExpandMode="single" dataKey="id" responsiveLayout="scroll"[lazy]="true"
    (onLazyLoad)="loadMenu($event)" rowExpandMode="single" dataKey="id" [paginator]="true" [rows]="25" [totalRecords]="totalRecords">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div><span class="text-orange">{{restaurant?.name}}</span> - Menu List</div>
                <a routerLink="../menu-form" class="text-primary">Add Item</a>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-eachItem>
            <tr>
                <th style="width: 5rem"></th>

                <th pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" [matchModeOptions]="matchModeOptions"
                        display="menu"></p-columnFilter>
                    </th>
                <th pSortableColumn="price">Price
                    <p-sortIcon field="price"></p-sortIcon>
                    <p-columnFilter field="price" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-slider [ngModel]="priceValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3" [min]="0" [max]="10000"></p-slider>
                            <div class="flex align-items-center justify-content-center px-2">
                                <span>{{priceValues[0]}} - </span>
                                <span>{{priceValues[1]}}</span>
                            </div>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>Type
                    <p-columnFilter type="boolean" matchMode="equals" field="type" display="menu"></p-columnFilter>
                </th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eachItem let-columns="columns" let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="eachItem"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td><span class="p-column-title">Name</span>{{eachItem.name}}</td>
                <td><span class="p-column-title">Price</span>{{eachItem.price | currency:'INR'}}</td>
                <td><span class="p-column-title">Type</span>
                    <img *ngIf="!eachItem.type" src="../../../assets/veg.jpg" alt="" width="16px">
                    <img *ngIf="eachItem.type" src="../../../assets/non-veg.jpg" alt="" width="16px">
                </td>
                <td><span class="p-column-title">Image</span><img *ngIf="eachItem.image" src="{{eachItem.image}}" alt="" class="thumbnail-image"></td>
                <td><span class="p-column-title">Edit</span><a routerLink="../menu-form/{{eachItem.id}}" class="text-primary">Edit</a></td>
                <td><span class="p-column-title">Delete</span><button class="btn btn-danger"
                        (click)="deleteMenuData = {'title':eachItem.name,'id':eachItem.id}" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">Delete</button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-eachItem>
            <tr>
                <td></td>
                <td colspan="100">
                    <div><b>Description: </b>{{eachItem.description}}</div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="100" class="text-center text-danger">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>